# virtual environment
.venv/
__pycache__/
*.pyc

# system
.DS_Store
*.log

# DVC cache (OK to ignore)
.dvc/cache/

# MLflow large logs (optional)
mlruns/

# ignore sessions
*.session

# data
data/raw/
data/processed/